*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*C L A S E S*/
.padding-2{
    margin: 2em;
}

.titulo-1{
    text-align: center;
}

.text-j{
    text-align: justify;
}

.grid-2-1{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.grid-2-2{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.img-1{
    display: block;
    margin: auto;
}