@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    overflow: hidden;
    position: relative;
}

/*C L A S E S*/
.padding-2{
    margin: 2em;
}

.titulo-1{
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway';
}

.text-j{
    text-align: justify;
}

.grid-2-1{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.grid-2-2{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.img-1{
    display: block;
    margin: auto;
    width: 100%;
}

.cuadro{
    border: double #4b3621 5px;
}

.relative{
    position: relative;
}

.leyenda{
    background-color: #4b3621;
    color: white;
    padding: 0.5em;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 98.4%;
    
}

.bold{
    font-weight: bold;
}

.direccion{
    width: 150%;
}

.mapa-grande{
    display: block;
}

.mapa-pequeño{
    display: none;
}

@media( max-width: 900px ){
    .grid-2-1, .grid-2-2{
        display: flex;
        flex-direction: column;
    }

    .direccion{
        display: none;
    }

    .mapa-grande{
        display: none;
    }

    .mapa-pequeño{
        display: block;
        margin: auto;
    }

    p{
        font-size: 1em;
    }
}
@media( max-width: 1200px ){
    .grid-2-1, .grid-2-2{
        display: flex;
        flex-direction: column;
    }

    .direccion{
        display: none;
    }

    p{
        font-size: 1.5em;
    }
}