@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sidebar{
    font-family: 'Raleway';
    background-color: #2F3945;
    color: white;
    border: solid black 1px;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow: hidden;
}
.sidebar h2{
    font-weight: bolder;
    text-align: center;
    padding: 1em;
}
.sidebar ul{
    list-style: none;
    width: 100%;
    padding: 0;
}
.sidebar a{
    color: white;
    text-decoration: none ;
}
.sidebar li{
    width: 100%;
    padding: 1em 0.3em;
    border-bottom: 1px gray solid;
}
.sidebar li:hover{
    background-color: #2c323a;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    transition: 1s;
    overflow-y: scroll;
}
.open{
    transform: translateX(250px);
}
.content>header>input{
    display: none;
}
.content header{
    border-bottom: solid black 1px;
    background-color: #2F3945;
    color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.content>header>label{
    font-size: 1.5em;
    padding: 1.2em 1.2em 0;
}
.content>header>h1{
    grid-column: 2/12 ;
    text-align: center;
    font-size: 5em;
    padding: 0.1em 0 0;
}

/*F O O T E R*/
footer{
    background-color: #2F3945;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#que-es *, #contacto *, #tradicional *{
    margin: 1em;
}

#que-es>p{
    text-align: justify;
}

.telefono, .facebook, .twitter, .youtube{
    color: white;
    text-decoration: none;
}

.telefono:hover, .facebook:hover, .twitter:hover, .youtube:hover{
    text-decoration: underline;
}

@media( max-width: 900px ){
    footer{
        display: flex;
        flex-direction: column;
    }
}