.titulo{
  color: black;
  font-size: 42px;
  position: relative;
  text-align: center;
  border-bottom: yellow 0.7vw solid;
  margin-right: 33vw;
  margin-left: 37vw;
  font-family: 'Raleway';
  margin: 1.5em;
}
.img-1{
    display: block;
    margin: auto;
    width: 50vw;
    height: 28vw;
}
.padding-1{
    margin: 2em;
}
.title-1{
    color: #590C0C;
    text-align: center;
    font-size: 200%;
    font-family: 'Raleway';
}
.text-justify{
    text-align: justify;
    font-family: Segoe UI;
    color:black;
}
.text-b{
    font-weight: bold;
    font-family: Segoe UI;
    color:black;
}
#Detalles{
    background-color:white;
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}
.img-2{
    display: block;
    margin: auto;
    width: 55vw;
    margin-top: 0.5em;
    height: 38em;
}
.padding-2{
    margin: 2em;
}
.title-2{
    color: #590C0C;
    text-align: center;
    font-size: 200%;
    font-family: 'Raleway';
}
.text-justify2{
    text-align: justify;
    font-family: Segoe UI;
    color:black;
}
.text-c{
    font-weight: bold;
    font-family: Segoe UI;
    color:black;
}
#Detalles2{
    background-color:white;
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}
#boton {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 18.5%;
  height: 18.5%;
  margin-right: 1%;
  line-height: 3;
  margin-left: 21em;
  color: black;
  font-size: 84%;
  text-align: center;
}
#boton:link  {
  background: orange;
}

#boton:hover {
  background: #0792F5;
}

#boton:active {
  color: white;
}
#boton2 {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 18.5%;
  height: 18.5%;
  margin-right: 3em;
  line-height: 3;
  margin-left: 18.2em;
  color: black;
  font-size: 84%;
  text-align: center;
}
#boton2:link  {
  background: orange;
}

#boton2:hover {
  background: #0792F5;
}

#boton2:active {
  background: red;
  color: white;
}
/*Responsive*/
@media(max-width: 1200px){
     header{
        flex-direction: column;
    }
    header div{
        width: 100%;
    }
    nav{
        width: 100%;
        display: none;
    }
    #Detalles{
        flex-direction: column;
    }
    #Detalles img{
        width: 100%;
      height: 200%;
    }
    #Detalles2{
        flex-direction: column;
    }
    #Detalles2 img{
        width: 100%;
      height: 200%;
    }
    #boton{
    	width: 40%;
      margin-left: 7em;
    }
    #boton2{
      width:40%;
      margin-left: 7em;
    }
    .titulo{
      font-size: 2.3em;
    }
}
