@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/*DISEÑO DE PÁGINA WEB*/

.galeria>h1{
    text-align: center;
    font-family: 'Raleway';
    font-size: 3em;
    padding: 0.5em;
}
.galeria>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 1em;
}
.fotos{
  
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    box-sizing: border-box;
}
.fotos img{
    width: 100%;
    height: 200px;

}
.fotos .imagen{
    height: 300px;
}
figure:nth-child(1){
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: overlay;
    text-align: center;
    background-image: url("../img/p1.jpg");
    background-size: 100%;
    background-size: cover;
}
figure:nth-child(2){
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: overlay;
    text-align: center;
    background-image: url("../img/p2.jpg");
    background-size: 100%;
    background-size: cover;
}
figure:nth-child(3){
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: overlay;
    text-align: center;
    background-image: url("../img/p3.jpg");
    background-size: 100%;
    background-size: cover;
}
figure:nth-child(4){
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: overlay;
    text-align: center;
    background-image: url("../img/p4.jpg");
    background-size: 100%;
    background-size: cover;
}
figure:nth-child(5){
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: overlay;
    text-align: center;
    background-image: url("../img/p5.jpg");
    background-size: 100%;
    background-size: cover;
}
figure:nth-child(6){
    background-color: rgba(0, 0, 0, 0.753);
    text-align: center;
    background-image: url("../img/p6.jpg");
    background-size: cover;
    background-blend-mode: overlay;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway';
    cursor: pointer;
}
.mini{
    font-weight: bolder;
    font-size: 12px;
}
figure:hover{
    background-color:rgba(10,10,10,.4);
	background-size:cover;
	transition:all .8s ease-out;
    
}
.img1{
    grid-column: 1/5;
}
.img2{
    grid-column: 5/9;
}
.img3{
    grid-column: 9/13;
}
.Model{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.466);
}
.Model span{
    color: white;
    font-size: 2em ;
    text-decoration: none;
    padding: .2em;
}
.vista{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.vista img{
    width: 75%;
    height: 95%;
}
.none{
    display: none;
}
.cerrar{
    color: white;
    font-size: 1em;
    cursor: pointer;
}
@media(max-width: 900px){
    .img1{
        grid-column: 1/13;
    }
    .img2{
        grid-column: 1/13;
    }
    .img3{
        grid-column: 1/13;
    }
}